@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:sender"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:poem"]{
	margin-top: 1em;
}
